* {
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
    
}


a {
    text-decoration: none;
    color: black;
}


.navbar-toggler:focus {
    outline: 0;
    border: none;
    box-shadow: 0 0 0 0;
}


.img-contain {
    object-fit: contain;
}

.img-cover {
    object-fit: cover;
}


.fonts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


.top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #282cbe;
    transition: 300ms all;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: white;
    z-index: 999;
    text-align: center;
    &:Hover {
        background-color: transparent;
        border: 1px solid #282cbe;
        color: #282cbe;
    }
}


.main-txt-color {
    color: #292dc0;
}


.mb-100 {
    margin-bottom: 100px;
    @media(max-width: 768px) {
        margin-bottom: 50px;
    }
}

/* ========================================================= */
    // Navbar Style
/* ========================================================= */
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    -webkit-transition: 300ms all;
    transition: 500ms all;
    z-index: 999;
    background-color: white;
    opacity: 1;
    -webkit-box-shadow: 0 0 5px 0px #ccc;
    box-shadow: 0 0 5px 0px #ccc;
}

nav {
    .container-fluid {
        .collapse {
            .navbar-nav {
                .nav-item {
                    width: auto;
                    .nav-link {
                        position: relative;
                        height: 100%;
                        width: max-content;
                        color: #000;
                        overflow: hidden;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 500;
                        letter-spacing: 1px;
                        font-size: 15px;
                        transition: 300ms all;
                        &::before {
                            content: '';
                            position: absolute;
                            left: -100%;
                            bottom: 0px;
                            height: 1px;
                            width: 100%;
                            background-color: #000;
                            transition: 300ms all;
                        }
                        &:hover::before {
                            overflow: visible;
                            left: 0;
                            transition: 300ms all;
                        }
                    }
                }
            }
        }
    }
}

/* ========================================================= */
    // Header middle Style
/* ========================================================= */
.animation {
    position: relative;
    animation: mymove 1.5s alternate linear infinite;
    z-index: -1;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 30px;}
}

/* ========================================================= */
    // Header Bottom Style
/* ========================================================= */
.header-bottom {
    .container-fluid {
        .row {
            .col-lg-3 {
                .card {
                    transition: 300ms all;
                    &:Hover {
                        transition: 300ms all;
                        box-shadow: 0px 0px 58.5px 0px #1c47c126;
                    }
                }
            }
        }
    }
}

/* ========================================================= */
    // About Section Style
/* ========================================================= */
.progress-bg-1 {
    background-color: #e34f26;
}

.progress-bg-2 {
    background-color: #1572b6;
}

.progress-bg-3 {
    background-color: #f7df1e;
}


/* ========================================================= */
    // Template Section Style
/* ========================================================= */
.template-section {
    .container-fluid {
        .row {
            .col-lg-4 {
                .card {
                    box-shadow: 0px 2px 20px  #ccc;
                    transition: 300ms all;
                    width: 100%;
                    background-color: transparent;
                    opacity: 100%;
                    position: relative;

                    .template-btn {
                        position: absolute;
                        top: 0;
                        margin-top: 20%;
                        text-align: center;
                        display: inline;
                        color: black;
                        background-color: white;
                        padding: 5px 10px;
                        border-radius: 15px;
                        opacity: 0;
                        transition: 300ms all;
                    }

                    &:hover {
                        position: relative;
                        transform: translateY(-10px);
                        transition: 300ms all;

                        .template-btn {
                            opacity: 1;
                            transition: 300ms all;
                        }

                        .template-img-hover {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #292dc0;
                            opacity: 70%;
                            transition: 300ms all;
                        }
                    }
                }
            }
        }
    }
}

/* ========================================================= */
    // Blog Section Style
/* ========================================================= */
.title-text {
    h2 {
       position: relative;
       display: inline-block;
       &::before {
           content: '';
           position: absolute;
           width: 100%;
           height: 3px;
           left: 0;
           bottom: -5px;
           background-color: #292dc0;
       } 
    }
}



/* ========================================================= */
    // Static Section Style
/* ========================================================= */
.z-index {
    z-index: 10;
}
.sitatic-section {
    background-image: url("../web-img/parallax-counter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #292dc0;
        opacity: 0.6;
    }
}


/* ========================================================= */
    // Footer Section Style
/* ========================================================= */
.footer-bg {
    background-image: url("../web-img/footer-bg.webp");
}